body {
    background-color: #101922;
}

header {

    display: flex;
    align-items: center;
    justify-content: space-around;

}


.logo {
    color: #FFFFFF;

}

nav>a {
    color: #CBD5E1;
    text-decoration: none;
    margin: 10px;
}

.loguin:first-child {
    border: 1px solid white
}

.loguin>a {
    text-decoration: none;
    margin: 5px;
}